<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8"/>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />>
  <title>FaceBook Clone</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous" />

</head>

<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand text-light" th:href="@{/}">facebook</a>

  <!-- Toggler/collapsible Button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Navbar links -->
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
      </li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class = "container">
  <div class = "row">
    <div class ="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
      <h1 class = "text-center"> Update Post </h1>
      <div class = "card-body">
        <form method="POST" th:action="@{/post/{id} (id=${postById.id})}" th:object = "${postById}">
          <div class ="form-group">
            <label for="posttitle"> Post Title </label>
            <input
                    type = "text"
                    name = "postTitle"
                    id="posttitle"
                    class = "form-control"
                    th:value="${postById.getPostTitle()}"
            />
          </div>

          <div class ="form-group">
            <label for="postbody"> Post Body</label>
            <textarea
                    cols="30"
                    rows="5" id="postbody"
                    class="form-control" placeholder="Update your post" name="postBody"
            >[[${postById.getPostBody()}]]</textarea>
          </div>

          <div class = "box-footer">
            <button type="submit" class = "btn btn-primary">
              Update
            </button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>
</body>
</html>